
<% if flash[:errors] %>
<% flash[:errors].each do | error | %>
<li style="color: red"><%=error%> </li>
<% end %>
<% end %>

<%= form_with model: @article do |f| %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title , placeholder: "Title" %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Type Article" %>
    <%= f.label "Author" %>
    <%= f.collection_select :user_id, @user, :id, :username %>
    <br>
    <%=f.label :category %>
    <%=f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <br>
    <%= f.submit %>
<% end %>