<div class="container" id="page-content">
    <div class="card mt-4">
    <h5 class="card-header"><%=@article.title%></h5>
    <div class="card-body">
        <h5 class="card-title">Author: <%= @article.user.username%></h5>
        <p class="card-text"><%=@article.content%></p>
        <% if logged_in? && @article.user == current_user %>
            <a class="btn btn-primary"<%= link_to 'Edit', edit_article_path(@article) %></a>
            <a class="btn btn-danger" <%= link_to 'Delete', article_path(@article), method: :delete %></a>
        <% end %>
    </div>
    <div class="card-footer text-muted">
        <%= @article.created_at.strftime("Posted on %m/%d/%Y") %>
    </div>
    </div>
   <div class="container mt-4">
   <%= render 'comments/form' %>
   <% @comments.each do |c| %>
    <div class="card border-primary mb-3 mt-4">
    <div class="card-header"><%= c.user.username %></div>
    <div class="card-body">
        <p class="card-text"><%= c.comment %></p>
    </div>
    <div class="card-footer text-muted">
        <%= c.created_at.strftime("Posted on %m/%d/%Y @ %l:%M %P") %>
    </div>
    </div>
    <% end %>
   </div>
    
</div>










